<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to My Recipe Site</h1>
    <p>I love cooking, especially dishes with rich flavors.</p>
    <a href="/recipes">View Recipes</a>
</body>
</html>
