<!DOCTYPE html>
<html>
<head>
    <title><%= recipe.name %></title>
    <script defer src="/script.js"></script>
</head>
<body>
    <h1><%= recipe.name %></h1>
    <p>Category: <%= recipe.category %></p>
    <p>Instructions: <%= recipe.instructions %></p>
</body>
</html>
